<html>
    <head>
        <title>Bio Page</title>
        <style>
        body {
            background-color:#FDF3E1;
        }
        .box {
            margin:auto;
            margin-top: 100px;
            background-color:#F6BD60;
            width:600px;
            padding:25px;
        }
        h1 {
            color: #482F07
        }
        title {
            margin: auto;
            margin-top: 30px;
            background-color:#F6BD60;
            padding: 25px;         
        } 


        </style>
    </head>
    <body>
    <div class=box>    
        <h1>Our staff</h1>
    </div>





    <script>
        
    </script>
    
    </body>
</html>
