{% extends "layout.html"%}
        {% block title %}
            <title>Bio</title>
        {%endblock%}
        {% block styles %}
        <style>
        body {
            /*background-color:#FDF3E1;*/
            background-image:url("{{url_for('static' ,filename='body.png')}}");
        }
        h1 {
            color: #482F07;
            font-family: 'Poppins', sans-serif;

        }
        h3{
            margin-top:0px;
            font-family: 'Poppins', sans-serif;
        }
        h4{
            font-family: 'Poppins', sans-serif;
        }
        p{
            font-family: 'Poppins', sans-serif;
        }
        title {
            margin: auto;
            margin-top: 30px;
            background-color:#F6BD60;
            padding: 25px;
        }
        .box {
            margin:auto;
            background-color:#F6BD60;
            width:40%;
            padding:25px;
            text-align:center;
        }
        .info{
            text-align:left;
            margin:auto;
            height:200px;
            background-color:#F6BD60;
            border-top:dashed 3px black;
            padding-top:10px;
        }
        .text{
            width:70%;
            margin-left:5%;
            float:left;
        }
        .volunteer-image{
            width:25%;
            margin:0px;
            height:auto;
            float:left;
        }
        .footer-left{
            float: left;
            width: 50%;
            height: 23.88px;;
            bottom: 0px;
       }
       .footer-right{
            float:right;
            width: 25%;
            height: 23.88px;
            bottom: 0px;
        }
        #pp{
            width:25%;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;  
            color: #482F07; 
            float: left;
        }
        #tou{
            width: 25%;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;  
            color: #482F07;       
            float: left;
        }
        #contact{
            width: 25%;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;  
            color: #482F07;
            float: left;
        } 
        #tag{
            width: 85%;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #482F07;  
            float: right;
            text-align:right;
            margin-right:15%;
        }
        #thekids{
            text-align:center;
            width:100%;
            margin:auto;
            margin-bottom:10px;
        }
        </style>
    {% endblock %}
    {% block content%}
    <img src="{{url_for('static',filename='kids.png')}}" id="thekids">
    <div class='box'>
        <h1>Our staff</h1>
        <div class="info">
            <img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="volunteer-image">
            <div class="text">
                <h3>Lorem Ipsum name</h3>
                <h4>Lorem Ipsum title</h4>
                <p>Lorem Ipsum discription Bla carrot alsasdfksjlco hauh afncaue gnuaea asdkfl yuroa cnafiadfn araisdfj adfaucas glakcnalf aieudfanc afuwa glnac uf avafa flknajkc  ajafawi jnxlfnkaf</p>
            </div>
        </div>
    </div>
    <div class="footer-left">
     <p id = "pp">Privacy Policy</p>   
     <p id = "tou">Terms of Use</p> 
     <a  href="{{url_for('contact')}}"><p id="contact">Contact Us</p></a>   
    </div>
    <div class="footer-right">
     <p id="tag">©️ Chiguru Foundation</p>   
    </div>





    {% endblock %}
    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}
