<html> 
  <head>
  <style>


    
  </style>
  </head>
  <body>
    <div class="container">
      <h3>Contact info</h3>   
     <h4>Sabitha Rama</h4>
     <h4>Number: 1-(513)-2951599</h4>
     <h4>Email: sabitharama@gmail.com</h4>
     <h5>Name</h5>
     <input type="name" name="username" placeholder="Name" required>
     <h5>Email</h5>
     <input type="email" name="email"  placeholder="email" required>
     <h5>Message</h5>
     <input type="message" name="message" placeholder="message">         
     <input type="submit" value="send">
</div>
      <script>
          
      </script>
      
  </body>

</html>