
{% extends "layout.html"%}
        {% block styles %}
        <style>
           /* background{
                background-image: ;
            } */
            .container{
                background-image: url("body.png");
                width: 100%;
                height: 100%;
            }
            .topBlock{
                /* Border is for reference only*/
                border: 2px solid black;
                position: fixed;
                width: 100%;
                height: 12%;
                top: 0px;
            }
            .middleBlock{
                /* Border is for reference only*/
                border: 2px solid black;
                position: fixed;
                width: 100%;
                height: 30%;
                top: 12%;
                
            }
            .bottomBlock{
                /* Border is for reference only*/
                background-color: #fdf3e1;
                position: relative;
                background: #f8f3ed;
                border: 2px solid black;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0px;
                height: 55%;
                width: 40%;
                top: 42%;  
                left: 5%;
            }
            .socialMedia{
                position: relative;
                border: 2px solid black;
                width: 60px;
                height: 25%;
                left: 31%;
                top: 2%;
            }
            .socialBtn{
                height: 25%;
                width: 100%;
            }
            .footer{
                /* Border is for reference only*/
                border: 2px solid black;
                position: fixed;
                width: 100%;
                height: 3%;
                bottom: 0px;
            }
            p{
                font-family: 'Poppins', sans-serif;
                margin: 0 auto;
                width: 90%;
            }
            h1{
                font-family: 'Poppins', sans-serif;
                text-align: center;
            }
 
            button{
                height: 40px;
                width: 300px;
                bottom: 10%;
            }
            #nextBtn{
                border: none;
                background: #482f07;
                color: #f6bd60;
                clip-path: polygon(10% 0, 100% 0, 87% 100%, 10% 100%, 0% 50%);;
                position: absolute;
                left: 7%;
            }
            #previousBtn{
                border: none;
                background: #f6bd60;
                color: #482f07;
                clip-path: polygon(13% 0, 90% 0, 100% 50%, 90% 100%, 0% 100%);
                position: absolute;
                left: 48%
            }

            #logo{
                position: relative;
                height: 100px;
                left: 40px;
            }

            #homeBtn{
                border: black, 5px, solid;
                background: #F29F17;
                color: black;
                position: absolute;
                top: 33%;
                left: 55%;
                width: 150px;
            }
            #storiesBtn{
                border: black, 5px, solid;
                background: #f6bd60;
                color: black;
                position: absolute;
                top: 33%;
                left: 65%;
                width: 150px;
            }
            #aboutBtn{
                border: black, 5px, solid;
                background: #f6bd60;
                color: black;
                position: absolute;
                top: 33%;
                left: 75%;
                width: 150px;
            }
            #contactBtn{
                border: black, 5px, solid;
                background: #f6bd60;
                color: black;
                position: absolute;
                top: 33%;
                left: 85%;
                width: 150px;
            }
            button{
                font-family: 'Poppins', sans-serif;
            }
            
        </style>
        {% endblock %}
        {% block content%}
        
        <div class="container">
         <!-- Top of Page, include picture-->
        
        <!-- Middle of Page, include picture-->
        <div class="middleBlock">
            <img src="kids.png" height="100%" width="100%"/>
        </div>

        <!-- Bottom of Page, include textbox and socials -->
        <div class="bottomBlock">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Tellus molestie nunc non blandit massa enim. Molestie a iaculis at erat
                    pellentesque adipiscing commodo elit at. Volutpat est velit egestas dui 
                    id ornare arcu odio. Auctor elit sed vulputate mi sit. Tellus pellentesque
                    eu tincidunt tortor aliquam. Tellus rutrum tellus pellentesque eu tincidunt
                    tortor aliquam. Tempus urna et pharetra pharetra massa massa ultricies mi quis. 
                    Leo a diam sollicitudin tempor. 
            </p>
            <button id="nextBtn"> Next</button>
            <button id="previousBtn">Previous</button>
        </div> 
        <div class="socialMedia">
            <button class="socialBtn"></button>
            <button class="socialBtn"></button>
            <button class="socialBtn"></button>
            <button class="socialBtn"></button>
        </div>
        <!-- include trademarks, ect-->
        <div class="footer">

        </div>
        </div>
    {% endblock %}
    {% block navbar %}
    {% include "navbar.html" %} 
    {% endblock %} 
    